<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>pouch-todo</title>
  <link rel="stylesheet" href="fontello/fontello.css"/>
  <link rel="stylesheet" href="style.css"/>

</head>
<body ng-controller="TodoCtrl">

  <div class="header">
    <h1>Todos<i class="icon-emo-thumbsup"></i></h1>
  </div>

  <div class="task" ng-repeat="todo in todos" ng-cloak>
    <i class="icon-angle-right"></i>
    <span class="align-text">{{ todo.text }}</span>
    <i class="icon-cancel" ng-click="remove(todo)"></i>
  </div>

  <input type="text" placeholder="What do you need done?" 
    ng-model="text" 
    ng-keyup="$event.keyCode == 13 ? submit() : null"></input>


  <div class="footer">
    <a href="https://github.com/orbitbot/pouch-todo">find me on github</a>
  </div>

  <script src="libs/angular.js"></script>
  <script src="libs/pouchdb.min.js"></script>
  <script src="pouch-todo.js"></script>

    <!-- Google Analytics -->
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-58175967-4']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();   
    </script>

</body>
</html>
